* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body, html {
  background-color: #f7f7f7;
  min-height: 100vh;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
}

main {
  flex: 1;
  background-color: #f7f7f7;
  padding-bottom: 30px;
}